
<div class="wrap"><div class="bestsangwoo"><%= image_tag("sangwoo.PNG") %></div></div>


<div class="bestresult1 d-flex justify-content-center">밥약 최적의 시간은</div>
<div class="bestresult2 d-flex justify-content-center"><%= %>입니다!</div>

<div class="bestresult3 d-flex justify-content-center">그 외 가능한 시간은</div>
<div class="bestresult4 d-flex justify-content-center"><%= %>입니다!</div>
</div>
