
<div class="placeimg pt-5">
    <%= image_tag("#{@result}.jpg") %>
</div>
<br></br>
<center>
<a href="/food/map" class="btn btn-secondary btn-lg"><strong>지도보기</strong></a>
<a href="/food/place" class="btn btn-secondary btn-lg"><strong>다시뽑기</strong></a>
</center>

<div class="bestresult1 d-flex justify-content-center">오늘 밥약 장소는</div>
<div class="bestresult2 d-flex justify-content-center animated tada infinite">여기입니다!</div>

