<h1>dovote</h1>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-uqo3{background-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-9wz1{font-weight:bold;background-color:#47baac;color:#ffffff;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 534px">
<colgroup>
<col style="width: 79px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
<col style="width: 90px">
</colgroup>
  <tr>
    <th class="tg-9wz1"></th>
    <th class="tg-9wz1">월요일</th>
    <th class="tg-9wz1">화요일</th>
    <th class="tg-9wz1">수요일</th>
    <th class="tg-9wz1">목요일</th>
    <th class="tg-9wz1">금요일</th>
  </tr>
  <tr>
    <td class="tg-9wz1">1</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">2</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">3~4</td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">5</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">6</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">7~8</td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
    <td class="tg-baqh"></td>
  </tr>
  <tr>
    <td class="tg-9wz1">이후</td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
    <td class="tg-uqo3"></td>
  </tr>
</table>